<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/delete_account.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="img/png" href="/static/images/logo.png">
    <title>حذف اکانت | اسموف</title>
</head>
<body>
    <div class="content">
        <img src="/static/images/logo.png" alt="Your browser dosnt support this image.">
        <h1>حذف اکانت</h1>
        <h2>{{ eror }}</h2>
        <form action="/del_account" method="post">
            <div class="form-1">
                <input type="email" name="email" placeholder="ایمیل">
                <input type="password" name="password" placeholder="پسورد">
                <button type="submit">تایید</button>
            </div>
        </form>
    </div>
</body>
</html>