<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="img/png" href="static/images/logo.png">
    <link rel="stylesheet" href="/static/change_password.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>بازیابی پسورد | اسموف</title>
</head>
<body>
    <div class="header">
    </div>
    <div class="content">
        <img src="static/images/logo.png" alt="Your browser dosnt support this image.">
        <form action="/reset_password" method="post">
            <h2>بازیابی پسورد</h2>
            <h1>{{ eror }}</h1>
            <h3>{{ success }}</h3>
            <input type="email" name="email" placeholder="اینجا ایمیلیت وارد کن">
            <button type="submit">تایید</button>
        </form>
    </div>
</body>
</html>