<!DOCTYPE html>
<html lang="fa">
<head>
    <link rel="stylesheet" href="/static/reset.css">
    <meta charset="UTF-8">
    <title>تغییر رمز | اسموف</title>
</head>
<body>

{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}

<form action="/reset/{{ token }}" method="post">
    <input type="password" name="password" required placeholder="رمز عبور جدید رو وارد کن لطفا">
    <br>
    <input type="password" name="password_confirm" required placeholder="دوباره وارد کنید برای تاییده">
    <button type="submit">ذخیره رمز جدید</button>
</form>

</body>
</html>
